@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
    background-image: url('./Assets/Img/BannerBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutContainer {
    background-image: url('./Assets/Img/mainServicePageBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutContainer1 {
    background-image: url('./Assets/Img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}